# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
coverage/
*.log

# dotenv environment files

.env.*.local
.env.local

# VSCode settings
.vscode/
.history/

# OS files
.DS_Store
Thumbs.db

# React specific

*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Misc
*.tgz
.idea/
*.swp

# Ignore production build in frontend
/frontend/build/

# Ignore production build in backend (caso use dist ou build)
/backend/dist/
/backend/build/